.cover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, .3) 90%), url(../images/portada.jpg);
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  background-blend-mode: screen;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  height: 100vh;
}

.headline {
  font-family: 'Playfair Display SC', serif;
  font-size: calc(.75rem + 3.5vw);
  line-height: 1.1em;
}

.subhead {
  font-size: calc(.5rem + 3vw);
  text-shadow: 1px 1px 2px #000;
}

.description {
  text-shadow: 1px 1px 2px #000;
}

.secondary {
  text-shadow: 1px 1px 0 black;
}

@layer components {
  .chefs-name {
    @apply text-secondary text-3xl text-center;
  }

  .foto-pie {
    @apply secondary col-start-5 row-start-5 text-gray-300 mb-0 italic self-end;
  }
}