<footer class="flex items-center w-3/4 h-36 mx-auto mt-12 border-t border-secondary-link">
    <div class="w-1/6">
      <include src="views/logo.html"></include>

    </div>
    <div class="w-3/6">
      <nav class="flex justify-center">
        <ul class="flex space-x-8 text-lg uppercase">
            <li><a href="index.html" class="font-bold text-secondary">Inicio</a></li>
            <li><a href="chefs.html" class="font-bold text-secondary">Chefs</a></li>
          <li><a href="codigoia.html" class="font-bold hover:text-secondary-link text-secondary">Página por IA</a></li>
      </ul>
      </nav>
    </div>
    <div class="w-2/6">
      <nav class="flex justify-center">
        <ul class="flex space-x-8">
          <li>
            <a href="https://www.google.com/intl/es/photos/about/" target="_blank">
              <img src="./assets/images/google.png" class="w-7">
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com" target="_blank">
              <img src="./assets/images/facebook.png" class="w-7">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/" target="_blank">
              <img src="./assets/images/twitter.png" class="w-7">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>