<header class="relative top-0 z-10 flex w-full h-24 shadow-md">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between h-full">
        <include src="views/logo.html"></include>

        <nav class="flex items-center">
          <ul class="flex space-x-8 uppercase text-lg">
            <li><a href="chefs.html" class="font-bold text-secondary-link">Chefs</a></li>
            <li><a href="codigoia.html" class="font-bold hover:text-secondary-link text-secondary">Página por IA</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
